.miniCart {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; /* Adjust width as needed */
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index:1000;
}

.open {
  transform: translateX(0);
}

.cartTab {
  position: absolute;
  left: -60px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  background-color: #007bff; /* Theme color */
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px 5px 0 0;
}

.cartContent {
  padding: 20px;
  overflow-y: auto;
}

.cartItem {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.totalPrice {
  padding: 10px 0;
  font-weight: bold;
  text-align: right;
}
